<div class="center hero-unit">

<h1>Farm2me</h1>

<%= link_to image_tag("about.png", alt: "family eating organic food")%>


</br>
</br>

<h2> Farm2Me is an online commerce platform, which delivers organic food from farm to your table.
</br>
Our mission is to bridge local organic farmers to health conscious consumers.
</h2>
