<div class="center hero-unit">

<h1>Welcome to Farm2me</h1>

<h2>
    We bring freshly produced local organic food to your table!
</h2>

<%= link_to image_tag("vegie.jpg", alt: "farm2me"),'http://rubyonrails.org/' %>

</br>
</br>

<%= link_to "I like organic food!", '', class: "btn btn-large btn-primary"%>

</div>











  
